html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.background-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('/static/fon.jpg'); /* Убедитесь, что путь правильный */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.clickable-area {
    position: absolute;
    border: 2px solid red; /* Чтобы видеть зоны */
    opacity: 0.5; /* Чтобы видеть их на фоне */
}

.stats {
    left: 1%;
    bottom: 1%;
    width: 18%;
    height: 9%;
}

.earn {
    left: 21%;
    bottom: 1%;
    width: 18%;
    height: 9%;
}

.home {
    left: 40%;
    bottom: 1%;
    width: 18%;
    height: 9%;
}

.play {
    left: 60%;
    bottom: 1%;
    width: 17%;
    height: 9%;
}

.friends {
    left: 78%;
    bottom: 1%;
    width: 20%;
    height: 9%;
}

/* Кликавельные зоны для вкладки Earn */
.earn-area {
    position: absolute;
    border: 2px solid red; /* Чтобы видеть зоны */
    opacity: 0.5; /* Чтобы видеть их на фоне */
}

.earn1 {
    top: 26%;
    left: 5%;
    width: 41%;
    height: 4.8%;
}

.earn2 {
    top: 31.3%;
    left: 5%;
    width: 41%;
    height: 4.9%;
}

.earn3 {
    top: 37%;
    left: 5%;
    width: 41%;
    height: 4.9%;
}

.earn4 {
    top: 42.6%;
    left: 5%;
    width: 41%;
    height: 4.9%;
}

.earn5 {
    top: 48%;
    left: 5%;
    width: 41%;
    height: 5%;
}
