html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.background-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('/static/fon.jpg'); /* Убедитесь, что путь правильный */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.clickable-area {
    position: absolute;
    border: 2px solid red; /* Чтобы видеть зоны */
    opacity: 0.5; /* Чтобы видеть их на фоне */
}

.stats {
    left: 1%;
    bottom: 1%;
    width: 18%;
    height: 9%;
}

.earn {
    left: 21%;
    bottom: 1%;
    width: 18%;
    height: 9%;
}

.home {
    left: 40%;
    bottom: 1%;
    width: 18%;
    height: 9%;
}

.play {
    left: 60%;
    bottom: 1%;
    width: 17%;
    height: 9%;
}

.friends {
    left: 78%;
    bottom: 1%;
    width: 20%;
    height: 9%;
}

/* Кликавельные зоны для вкладки Earn */
.earn-area {
    position: absolute;
    border: 2px solid red; /* Чтобы видеть зоны */
    opacity: 0.5; /* Чтобы видеть их на фоне */
}

.earn1 {
    top: 26%;
    left: 5%;
    width: 41%;
    height: 4.8%;
}

.earn2 {
    top: 31.3%;
    left: 5%;
    width: 41%;
    height: 4.9%;
}

.earn3 {
    top: 37%;
    left: 5%;
    width: 41%;
    height: 4.9%;
}

.earn4 {
    top: 42.6%;
    left: 5%;
    width: 41%;
    height: 4.9%;
}

.earn5 {
    top: 48%;
    left: 5%;
    width: 41%;
    height: 5%;
}

/* Новые области для вкладки Earn */
.earn6 {
    top: 26%;
    left: 48%;
    width: 37%;
    height: 5%;
}

.earn7 {
    top: 31%;
    left: 48%;
    width: 37%;
    height: 5%;
}

.earn8 {
    top: 37%;
    left: 48%;
    width: 37%;
    height: 5%;
}

.earn9 {
    top: 42.6%;
    left: 48%;
    width: 37%;
    height: 5%;
}

.earn10 {
    top: 48%;
    left: 48%;
    width: 37%;
    height: 5%;
}

body {
    margin: 0;
    padding: 0;
    background: none; /* Убираем фон */
    overflow: hidden; /* Убираем прокрутку, если она не нужна */
}


.profile {
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 2; /* Над фоном */
    background: none; /* Убираем фон */
    padding: 0;
}


.avatar-container {
    width: 100px;
    height: 100px;
    border: 2px solid #000; /* Чёрный контур вокруг аватара */
    border-radius: 50%; /* Круглая форма */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Чтобы картинка не выходила за границы */
    margin-bottom: 10px; /* Отступ снизу */
}

.avatar {
    width: 100%;
    height: 100%;
    border-radius: 1px;
    margin-right: 1px;
    background-color: transparent; /* Прозрачный фон у аватара */
}

#username {
    font-size: 18px;
    font-weight: bold;
    flex-grow: 1;
    text-align: left;
    padding-left: 10px;
    background: none; /* Без фона */
}

#points {
    font-size: 18px;
    text-align: right;
    padding-right: 10px;
    background: none; /* Без фона */
}

